# Managed by Ansible.
# Store only non-secret application configuration in this file.
{% for key, value in __quadlet_container.environment | default({}) | dictsort %}
{{ key }}={{ value | string }}
{% endfor %}
