# Managed by Ansible.
# Store only non-secret application configuration in this file.
{% for key, value in __quadlet_container_environment | dictsort %}
{{ key }}={{ value | string | ansible.builtin.to_json }}
{% endfor %}
