{% from '_macros.j2' import render_options %}
# Managed by Ansible.

[Unit]
Description=Rootless Podman pod {{ __quadlet_pod.name }}
{{ render_options(__quadlet_pod.unit_options | default({})) }}
[Pod]
{% if __quadlet_pod.service_name is defined %}
ServiceName={{ __quadlet_pod.service_name }}
{% endif %}
{% for network in __quadlet_pod.networks | default([]) %}
Network={{ network }}
{% endfor %}
{% for port in __quadlet_pod.ports | default([]) %}
PublishPort={{ port }}
{% endfor %}
{% for volume in __quadlet_pod.volumes | default([]) %}
Volume={{ volume }}
{% endfor %}
{{ render_options(__quadlet_pod.pod_options | default({})) }}
[Service]
Restart={{ __quadlet_pod.restart_policy | default('always') }}
{{ render_options(__quadlet_pod.service_options | default({})) }}
[Install]
{% if __quadlet_pod.enabled | default(true) | bool and 'WantedBy' not in (__quadlet_pod.install_options | default({})) %}
WantedBy=default.target
{% endif %}
{{ render_options(__quadlet_pod.install_options | default({})) -}}
